dash==2.9.3
firebase-admin==6.1.0
grpcio-status==1.54.0
joblib==1.2.0
keras-applications==1.0.8
keras-preprocessing==1.1.2
mpl-finance==0.10.1
mplfinance==0.12.9b7
patsy==0.5.3
pip-chill==1.0.3
pipdeptree==2.13.2
pyyaml==6.0
sklearn==0.0.post5
tensorflow==2.12.0
threadpoolctl==3.1.0
xgboost==1.5.0
yahoo-fin==0.8.9.1
yfinance==0.2.18
gunicorn